/***************** Caixa principal ********************/
.alarme {
  height: 300px;
  width: 320px;
  
  background: linear-gradient(to bottom, #005, #008);
  border: 3px solid #002;
  border-radius: 4px;
  text-align: center;
  font-family: Verdana, Arial;
  font-size: 12pt;
  color: #ededed;;
  padding: 20px;
  font-weight: bold;
}

/********************** Botões **********************/
.botao {
  font-size: 12pt;
  cursor: pointer;
  display: inline-block;
  margin: 2px;
  border: none;
  border-radius: 4px;
  padding: 4px 10px;
  font-weight: normal;
}

.fechar {
  background-color: #fa0;
}

.fechar:hover {
  background-color: #e90;
}

.botaoLink {
  background-color: #28f;
}

.botaoLink:hover {
  background-color: #06d;
}

.salvar {
  background-color: #8bf;
  color: black;
}

.salvar:hover {
  background-color: #69a;
}

.cancelar {
  background-color: #fc3;
}

.cancelar:hover {
  background-color: #ea0;
}

/***************** Popup dos horários ********************/
.popup {
  background: linear-gradient(to bottom, #008, #005);
  width: 320px;
  color: #ededed;
  font-family: Verdana, Arial;
  text-align: center;
  padding: 10px;
  margin: auto;
  border: 3px solid #030;
  border-radius: 4px;
}

.div-horario {
  height: 30px;
  display: block;
  position: relative;
}

.direita {
  text-align: right;
  padding-right: 5px;
  width: 60%;
  display: block;
  position: absolute;
}

.horario {
  width: 50px;
  color: black;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  left: 60%;
}
