/***************** Caixa principal ********************/
.alarme {
  width: 350px;
  background: linear-gradient(to bottom, #005, #008);
  border: 3px solid #002;
  border-radius: 4px;
  text-align: center;
  font-family: Verdana, Arial;
  font-size: 12pt;
  color: #ededed;;
  padding: 20px;
  display: table;
}

.titulo {
  font-weight: bold;
  font-size: 13pt;
  border-bottom: 2px solid #00a;
  background-color: #003;
  padding: 5px;
  margin: -20px -20px 0 -20px;
}

.mensagem {
  padding: 5px 10px;
  line-height: 50px;
}

/********************** Botões **********************/
.botao {
  font-size: 12pt;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
  border: none;
  border-radius: 4px;
  padding: 4px 10px;
  font-weight: normal;
  color: black;
}

.fechar {
  background-color: #fa0;
  display: table-cell;
}

.fechar:hover {
  background-color: #e90;
}

.botaoLink {
  background-color: #28f;
  display: table-cell;
}

.botaoLink:visited {
  text-decoration: none;
  color: black;
}

.botaoLink:hover {
  background-color: #06d;
  text-decoration: none;
}



.salvar {
  background-color: #8bf;
}

.salvar:hover {
  background-color: #69a;
}

.cancelar {
  background-color: #fc3;
}

.cancelar:hover {
  background-color: #ea0;
}

/***************** Popup dos horários ********************/
.popup {
  background: linear-gradient(to bottom, #008, #005);
  width: 340px;
  color: #ededed;
  font-family: Verdana, Arial;
  text-align: center;
  padding: 20px;
  margin: auto;
  border: 3px solid #030;
  border-radius: 4px;
}

.div-horario {
  height: 30px;
  display: block;
  position: relative;
}

.direita {
  text-align: right;
  padding-right: 5px;
  width: 60%;
  display: block;
  position: absolute;
}

.horario {
  width: 50px;
  color: black;
  border-radius: 2px;
  display: inline-block;
  position: absolute;
  left: 60%;
}

.popup input {
  background-color: #008;
  color: #ededed;
}
